@charset "UTF-8";
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; padding: 0; margin: 0; }

body { font-family: "Open Sans", sans-serif; font-weight: 300; color: #333; }

h1, h2, h3, h4, h5, h6 { margin-bottom: .5em; }

/*h1, h2, h3, h4, h5, h6 { font-family: $berkshire ; margin-bottom: .5em;
}*/
h1 { font-size: 2.5em; }

h2 { font-size: 2em; }

h3 { font-size: 1.6em; }

h4 { font-size: 1.3em; }

h5 { font-size: 1em; }

h6 { font-size: .8em; }

p { font-size: 1em; margin-bottom: .3em; }

a { text-decoration: none; }

li { list-style-type: none; }

.seccion { padding: 2em 0; }

.seccion.sin-banner { padding: 8em 0 3em 0; }

.space_3, .space_2, .space_1, .space_0 { clear: both; }

.space_3 { padding: 3em 0; }

.space_2 { padding: 2em 0; }

.space_1-5 { padding: 1.5em 0; }

.space_1 { padding: 1em 0; }

.space_0 { padding: .5em 0; }

img.img-100 { width: 100%; }

ul.menu { display: flex; flex-wrap: wrap; position: relative; }
ul.menu li a { display: block; white-space: nowrap; }

.page-proyecto header { border-bottom: 1px solid #F1FAFB; }
.page-proyecto header ul { min-height: 100px; align-self: flex-end; align-items: center; }
.page-proyecto header ul li a { padding: .5em 2em; color: #333; }
.page-proyecto header ul li a:hover { color: #fff; background-color: #4FE3F1; }
.page-proyecto .cont-proyectos { background-color: #F1FAFB; }
.page-proyecto .cont-proyectos .cont-sitios figure { border: 1px solid #BFF2F2; background-color: #fff; }
.page-proyecto .cont-proyectos .cont-sitios figure figcaption { padding: 1em; }
.page-proyecto .cont-proyectos .cont-sitios figure figcaption h4 { color: #333; }
.page-proyecto .cont-proyectos .cont-sitios figure figcaption ul li::before { content: "●"; margin-right: .5em; margin-left: .5em; color: #4FE3F1; }
.page-proyecto .cont-proyectos .cont-sitios figure figcaption ul.menu { justify-content: flex-end; }
.page-proyecto .cont-proyectos .cont-sitios figure figcaption ul.menu li::before { content: ""; }
.page-proyecto .cont-proyectos .cont-sitios figure figcaption ul.menu li a { padding: .5em 2em; background-color: #98EFF0; color: #fff; }
.page-proyecto .cont-proyectos .cont-sitios figure figcaption ul.menu li a:hover { background-color: #50E6F2; }

/*Medias*/
@media screen and (max-width: 768px) { .page-proyecto .cont-proyectos .grid-33:not(:last-child) { margin-bottom: 3em; }
  .page-proyecto .cont-proyectos .cont-sitios figure figcaption { padding: 1em; } }
